<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
  <!-- silence the selfie warnings -->
  <logger name="lrsql.util.cert" level="error" />
  <logger name="lrsql.ops.query.reaction" level="off" />
  <!-- allow logs for bench tests -->
  <logger name="lrsql.bench-test" level="info" />
  <!-- allow logs for test runner -->
  <logger name="lrsql.test-runner" level="info" />
</configuration>
