{:database
 #profile
  {;; Test/Dev
   :test-h2-mem   {:db-type "h2:mem"
                   :db-name "example.h2"}
   :test-h2       {:db-type "h2"
                   :db-name "example.h2"
                   :db-host "localhost"
                   :db-port 9001}
   :test-sqlite   {:db-type "sqlite"
                   :db-name "example.sqlite.db"}
   :test-postgres {:db-type "postgres"
                   :db-name "lrsql_pg"
                   :db-host "localhost"
                   :db-port 5432}
   ;; Production
   :prod-h2-mem   #include "prod/database/h2_mem.edn"
   :prod-h2       #include "prod/database/h2.edn"
   :prod-sqlite   #include "prod/database/sqlite.edn"
   :prod-postgres #include "prod/database/postgres.edn"}
 :connection
 #profile
  {;; Test/Dev
   :test-h2-mem   #include "test/connection/single_conn.edn"
   :test-h2       #include "test/connection/single_conn.edn"
   :test-sqlite   #include "test/connection/single_conn.edn"
   :test-postgres #include "test/connection/multi_conn.edn"
   ;; Production
   :prod-h2-mem   #include "prod/connection/single_conn.edn"
   :prod-h2       #include "prod/connection/single_conn.edn"
   :prod-sqlite   #include "prod/connection/single_conn.edn"
   :prod-postgres #include "prod/connection/multi_conn.edn"}
 :lrs
 #profile
  {;; Test/Dev
   :test-h2-mem   #include "test/lrs.edn"
   :test-h2       #include "test/lrs.edn"
   :test-sqlite   #include "test/lrs.edn"
   :test-postgres #include "test/lrs.edn"
   ;; Production
   :prod-h2-mem   #include "prod/lrs.edn"
   :prod-h2       #include "prod/lrs.edn"
   :prod-sqlite   #include "prod/lrs.edn"
   :prod-postgres #include "prod/lrs.edn"}
 :webserver
 #profile
 {;; Test/Dev
  :test-h2-mem   #include "test/webserver.edn"
  :test-h2       #include "test/webserver.edn"
  :test-sqlite   #include "test/webserver.edn"
  :test-postgres #include "test/webserver.edn"
  ;; Production
  :prod-h2-mem   #include "prod/webserver.edn"
  :prod-h2       #include "prod/webserver.edn"
  :prod-sqlite   #include "prod/webserver.edn"
  :prod-postgres #include "prod/webserver.edn"}
 ;; A user-provided JSON file for merge-with merge into this map
 :user-config-json #or [#env LRSQL_USER_CONFIG_JSON "config/lrsql.json"]}
