{:database
 #profile
  {;; Test/Dev
   :test-h2-mem   {:db-type "h2:mem"
                   :db-name "example.h2"}
   :test-h2       {:db-type "h2"
                   :db-name "example.h2"
                   :db-host "localhost"
                   :db-port 9001}
   :test-sqlite   {:db-type "sqlite"
                   :db-name "example.sqlite.db"}
   :test-postgres {:db-type "postgres"
                   :db-name "lrsql_pg"
                   :db-host "localhost"
                   :db-port 5432}
   ;; Production
   :prod-h2-mem   #include "prod/h2_mem/database.edn"
   :prod-h2       #include "prod/h2/database.edn"
   :prod-sqlite   #include "prod/sqlite/database.edn"
   :prod-postgres #include "prod/postgres/database.edn"}
 :connection
 #profile
  {;; Test/Dev
   :test-h2-mem   {}
   :test-h2       {}
   :test-sqlite   #include "test/sqlite/connection.edn"
   :test-postgres {}
   ;; Production
   :prod-h2-mem   #include "prod/h2_mem/connection.edn"
   :prod-h2       #include "prod/h2/connection.edn"
   :prod-sqlite   #include "prod/sqlite/connection.edn"
   :prod-postgres #include "prod/default/connection.edn"}
 :lrs
 #profile
  {;; Test/Dev
   :test-h2-mem   #include "test/default/lrs.edn"
   :test-h2       #include "test/default/lrs.edn"
   :test-sqlite   #include "test/default/lrs.edn"
   :test-postgres #include "test/default/lrs.edn"
   ;; Production
   :prod-h2-mem   #include "prod/default/lrs.edn"
   :prod-h2       #include "prod/default/lrs.edn"
   :prod-sqlite   #include "prod/default/lrs.edn"
   :prod-postgres #include "prod/default/lrs.edn"}
 :webserver
 #profile
 {;; Test/Dev
  :test-h2-mem   #include "test/default/webserver.edn"
  :test-h2       #include "test/default/webserver.edn"
  :test-sqlite   #include "test/default/webserver.edn"
  :test-postgres #include "test/default/webserver.edn"
  ;; Production
  :prod-h2-mem   #include "prod/default/webserver.edn"
  :prod-h2       #include "prod/default/webserver.edn"
  :prod-sqlite   #include "prod/default/webserver.edn"
  :prod-postgres #include "prod/default/webserver.edn"}
 ;; A user-provided JSON file for merge-with merge into this map
 :user-config-json #or [#env LRSQL_USER_CONFIG_JSON "config/lrsql.json"]}
