{
  "database": {
    "dbHost": "my-db-host",
    "dbName": "my_db_name",
    "dbUser": "my_user_name",
    "dbPassword": "changeme"
  },
  "connection": {
    "poolName": "my-pool-name"
  },
  "lrs" : {
    "adminUserDefault" : "my-username",
    "adminPassDefault" : "changeme",
    "apiKeyDefault" : "my-api-key",
    "apiSecretDefault" : "changeme",
    "authorityUrl" : "http://my-custom-domain.com"
  },
  "webserver" : {
    "httpHost" : "my-custom-host",
  }
}
