{# for template syntax see: https://github.com/yogthos/Selmer#templates

   Use any variable present in token claims
   https://datatracker.ietf.org/doc/html/rfc9068

#}
{
  "objectType": "Group",
  "member": [
    {
      "account": {
        "homePage": "{{iss}}",
        "name": "{{aud}}"
      }
    },
    {
      "account": {
        "homePage": "{{iss}}",
        "name": "{{sub}}"
      }
    }
  ]
}
