{:database
 {:db-type   #profile {:test    "h2:mem"
                       :default "h2:mem"}
  :db-name   "example"
  ;; use #or and #env
  :db-host   #profile {:test    "localhost"
                       :default "0.0.0.0"} 
  :db-port   #profile {:test    8080
                       :default 8080}
  :db-schema "lrsql"}
 :connection
 {:database #ref [:database]}
 :lrs
 {:database #ref [:database]
  :stmt-get-default 50
  :stmt-get-max     50}
 :webserver
 {:http-host "0.0.0.0"
  :http-port 8080}}
