{:paths ["src/main" "resources"]
 :deps
 {org.clojure/clojure                      {:mvn/version "1.10.3"}
  clojure-interop/java.security            {:mvn/version "1.0.5"}
  cheshire/cheshire                        {:mvn/version "5.10.0"}
  clojure.java-time/clojure.java-time      {:mvn/version "0.3.2"}
  danlentz/clj-uuid                        {:mvn/version "0.1.9"}
  aero/aero                                {:mvn/version "1.1.6"}
  io.pedestal/pedestal.jetty               {:mvn/version "0.5.7"}
  org.eclipse.jetty/jetty-alpn-java-server {:mvn/version "9.4.18.v20190429"}
  buddy/buddy-core                         {:mvn/version "1.10.1"}
  buddy/buddy-sign                         {:mvn/version "3.4.1"}
  buddy/buddy-hashers                      {:mvn/version "1.8.1"}
  ;; Need to exclude slf4j to make logback work properly
  com.zaxxer/HikariCP                      {:mvn/version "5.0.0"
                                            :exclusions  [org.slf4j/slf4j-api]}
  ;; This lib uses the Java 8, not Java 11, version of HikariCP
  hikari-cp/hikari-cp                      {:mvn/version "2.13.0"
                                            :exclusions  [com.zaxxer/HikariCP]}
  com.github.seancorfield/next.jdbc        {:mvn/version "1.2.674"}
  ;; com.layerware/hugsql                   {:mvn/version "0.5.1"}
  com.yetanalytics/hugsql                  {:mvn/version "0.6.0-SNAPSHOT"}
  com.layerware/hugsql-adapter-next-jdbc   {:mvn/version "0.5.1"}
  com.stuartsierra/component               {:mvn/version "1.0.0"}
  org.clojure/tools.logging                {:mvn/version "1.1.0"}
  ch.qos.logback/logback-classic           {:mvn/version "1.2.3"}
  less-awful-ssl/less-awful-ssl            {:mvn/version "1.0.6"}
  selmer/selmer                            {:mvn/version "1.12.44"}
  org.clojure/core.memoize                 {:mvn/version "1.0.250"}
  camel-snake-kebab/camel-snake-kebab      {:mvn/version "0.4.2"}
  com.yetanalytics/lrs
  {:git/url    "git@github.com:yetanalytics/lrs.git"
   :sha        "1765c48bac2f313099cfd59e08e2bd3ccd85b597"
   :exclusions [org.clojure/clojure
                com.yetanalytics/xapi-schema]}
  com.yetanalytics/xapi-schema
  {:git/url    "https://github.com/yetanalytics/xapi-schema.git"
   :sha        "4b97122d839e895b9111e6ed62ae68bc0fdee723"
   :exclusions [org.clojure/clojure]}
  com.yetanalytics/colossal-squuid
  {:git/url    "git@github.com:yetanalytics/colossal-squuid.git"
   :sha        "a125975fc40b14bbba7e7fe4fbe4d9363f7c2202"
   :exclusions [org.clojure/clojure]}}
 :aliases
 {:db-h2
  {:extra-paths ["src/h2"]
   :extra-deps  {com.h2database/h2 {:mvn/version "1.4.200"}}}
  :db-sqlite
  {:extra-paths ["src/sqlite"]
   :extra-deps  {org.xerial/sqlite-jdbc {:mvn/version "3.36.0"}}}
  :db-postgres
  {:extra-paths ["src/postgres"]
   :extra-deps  {org.postgresql/postgresql {:mvn/version "42.2.23"}}}
  :bench
  {:extra-paths ["src/bench" "dev-resources"]
   :extra-deps  {org.clojure/tools.cli          {:mvn/version "1.0.194"}
                 org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
                 babashka/babashka.curl         {:mvn/version "0.0.3"}
                 com.yetanalytics/datasim
                 {:git/url    "git@github.com:yetanalytics/datasim.git"
                  :sha        "d55f24098aca78db69e2f03d4f202ce58b5fdb49"
                  :exclusions [org.clojure/clojure
                               com.yetanalytics/xapi-schema
                               com.yetanalytics/project-pan]}
                 ;; Override pan dep in DATASIM
                 com.yetanalytics/project-pan
                 {:git/url    "git@github.com:yetanalytics/project-pan.git"
                  :sha        "db90b60f90908de6c2a66928ea59654a8abeaead"
                  :exclusions [org.clojure/clojure
                               com.yetanalytics/xapi-schema
                               com.yetanalytics/project-pan]}}}
  :test
  {:extra-paths ["src/h2" "src/test" "dev-resources"]
   :extra-deps  {com.h2database/h2      {:mvn/version "1.4.200"}
                 org.clojure/test.check {:mvn/version "1.0.0"}
                 babashka/babashka.curl {:mvn/version "0.0.3"}
                 orchestra/orchestra    {:mvn/version "2021.01.01-1"}
                 io.github.cognitect-labs/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}
                 com.yetanalytics.lrs/test-runner
                 {:git/url    "git@github.com:yetanalytics/lrs-test-runner.git"
                  :sha        "8bd5be7816288e85f5c07fc11bf8cf53667e72da"
                  :exclusions [org.clojure/data.json]}
                 com.yetanalytics/datasim
                 {:git/url    "git@github.com:yetanalytics/datasim.git"
                  :sha        "d55f24098aca78db69e2f03d4f202ce58b5fdb49"
                  :exclusions [org.clojure/clojure
                               com.yetanalytics/xapi-schema
                               com.yetanalytics/project-pan]}
                 ;; Override pan dep in DATASIM
                 com.yetanalytics/project-pan
                 {:git/url    "git@github.com:yetanalytics/project-pan.git"
                  :sha        "db90b60f90908de6c2a66928ea59654a8abeaead"
                  :exclusions [org.clojure/clojure
                               com.yetanalytics/xapi-schema
                               com.yetanalytics/project-pan]}}
   :exec-fn     cognitect.test-runner.api/test
   :exec-args   {:dirs ["src/test"]}}
  ;; build alias invoked like clojure -Xbuild uber
  :build
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
   :extra-paths  ["src/build"]
   :ns-default   lrsql.build}
  ;; alias for dev so you can use from repl w/o breakage
  :build-dev
  {;; note the :extra-deps instead of :replace-deps
   :extra-deps  {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
   :extra-paths ["src/build"]}
  :doc
  {:extra-deps  {markdown-clj/markdown-clj {:mvn/version "1.10.5"}}
   :extra-paths ["src/doc"]}}}
