{:db-type       #or [#env LRSQL_DB_TYPE "h2:mem"]
 :db-name       #or [#env LRSQL_DB_NAME "lrsql.h2"]
 :db-host       #or [#env LRSQL_DB_HOST nil]
 :db-port       #or [#env LRSQL_DB_PORT nil]
 :db-properties #or [#env LRSQL_DB_PROPERTIES nil]
 :db-jdbc-url   #or [#env LRSQL_DB_JDBC_URL nil]
 :db-user       #or [#env LRSQL_DB_USER nil]
 :db-password   #or [#env LRSQL_DB_PASSWORD nil]}