# Runs SQL LRS with Postgres - Provided for demonstration purposes only!
# To run: docker compose up
# See the Docker Compose docs for more info: https://docs.docker.com/compose/
services:
  lrs:
    # build: . # switch to this for active dev
    image: yetanalytics/lrsql:latest
    command:
      - /lrsql/bin/run_postgres.sh
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      LRSQL_API_KEY_DEFAULT: my_key
      LRSQL_API_SECRET_DEFAULT: my_secret
      LRSQL_ADMIN_USER_DEFAULT: ${LRSQL_ADMIN_USER_DEFAULT}
      LRSQL_ADMIN_PASS_DEFAULT: ${LRSQL_ADMIN_PASS_DEFAULT}
      LRSQL_DB_HOST: ${LRSQL_DB_HOST}
      LRSQL_DB_NAME: ${LRSQL_DB_NAME}
      LRSQL_DB_USER: ${LRSQL_DB_USER}
      LRSQL_DB_PASSWORD: ${LRSQL_DB_PASSWORD}
      # If Postgres is too slow to start, increase this
      LRSQL_POOL_INITIALIZATION_FAIL_TIMEOUT: 10000
      # Set to true if using dev UI, domain name, proxy server, etc.
      LRSQL_ALLOW_ALL_ORIGINS: true