{:database
 #profile
  {:test    {:db-type   "h2:mem"
             :db-name   "example"
             :db-host   "localhost"
             :db-port   8080
             :db-schema "lrsql"}
   :dev     {:db-type   "h2"
             :db-name   "example"
             :db-host   "localhost"
             :db-port   8080
             :db-schema "lrsql"}
   :default {:db-type   #or [#env LRSQL_DB_TYPE "h2:mem"]
             :db-name   #or [#env LRSQL_DB_NAME "example"]
             :db-host   #or [#env LRSQL_DB_HOST "localhost"]
             :db-port   #long #or [#env LRSQL_DB_PORT 8080]
             :db-schema #or [#env LRSQL_DB_SCHEMA "lrsql"]}}
 :connection
 {:database #ref [:database]}
 :lrs
 #profile
  {:test    {:database             #ref [:database]
             :api-key-default      "username"
             :api-secret-default   "password"
             :stmt-more-url-prefix ""
             :stmt-get-default     50
             :stmt-get-max         50}
   :dev     {:database             #ref [:database]
             :api-key-default      "username"
             :api-secret-default   "password"
             :stmt-more-url-prefix ""
             :stmt-get-default     50
             :stmt-get-max         50}
   :default {:database             #ref [:database]
             :api-key-default      #or [#env LRSQL_SEED_API_KEY nil]
             :api-secret-default   #or [#env LRSQL_SEED_API_SECRET nil]
             :stmt-more-url-prefix #or [#env LRSQL_STMT_MORE_URL_PREFIX ""]
             :stmt-get-default     #long #or [#env LRSQL_STMT_GET_DEFAULT 50]
             :stmt-get-max         #long #or [#env LRSQL_STMT_GET_MAX 50]}}
 :webserver
 #profile
  {:test    {:key-file              "config/keystore.jks"
             :key-alias             "lrsql_keystore"
             :key-password          "lrsql_pass"
             :jwt-expiration-time   3600
             :jwt-expiration-leeway 1
             :http?                 true
             :http2?                true
             :ssl-port              8443
             :http-host             "0.0.0.0"
             :http-port             8080}
   :dev     {:key-file              "config/keystore.jks"
             :key-alias             "lrsql_keystore"
             :key-password          "lrsql_pass"
             :jwt-expiration-time   3600
             :jwt-expiration-leeway 1
             :http?                 true
             :http2?                true
             :ssl-port              8443
             :http-host             "0.0.0.0"
             :http-port             8080}
   :default {:key-file              #or [#env LRSQL_KEY_FILE "config/keystore.jks"]
             :key-alias             #or [#env LRSQL_KEY_ALIAS "lrsql_keystore"]
             :key-password          #or [#env LRSQL_KEY_PASSWORD "lrsql_pass"]
             :jwt-expiration-time   #long #or [#env LRSQL_JWT_EXPIRATION_TIME 3600]
             :jwt-expiration-leeway #long #or [#env LRSQL_JWT_EXPIRATION_LEEWAY 1]
             :http?                 #boolean #or [#env LRSQL_ENABLE_HTTP true]
             :http2?                #boolean #or [#env LRSQL_ENABLE_HTTP2 true]
             :http-host             #or [#env LRSQL_HTTP_HOST "0.0.0.0"]
             :http-port             #long #or [#env LRSQL_HTTP_PORT 8080]
             :ssl-port              #long #or [#env LRSQL_SSL_PORT 8443]}}}
