{:database
 #profile
  {:test {:db-type   "h2:mem"
          :db-name   "example"
          :db-host   "localhost"
          :db-port   8080
          :db-schema "lrsql"}
   :default {:db-type   #or [#env DB_TYPE "h2:mem"]
             :db-name   #or [#env DB_NAME "example"]
             :db-host   #or [#env DB_HOST "localhost"]
             :db-port   #or [#env DB_PORT 8080]
             :db-schema #or [#env DB_SCHEMA "lrsql"]}}
 :connection
 {:database #ref [:database]}
 :lrs
 {:database             #ref [:database]
  :api-key-default      #profile
                         {:test "username"
                          :default #or [#env API_KEY nil]}
  :api-secret-default   #profile
                         {:test "password"
                          :default #or [#env API_SECRET nil]}
  :stmt-more-url-prefix #profile
                         {:test    ""
                          :default #or [#env STATEMENT_MORE_URL_PREFIX ""]}
  :stmt-get-default     #or [#env STATEMENT_GET_DEFAULT 50]
  :stmt-get-max         #or [#env STATEMENT_GET_MAX 50]}
 :webserver
 {:jwt-expiration-time   #profile
                          {:test 3600
                           :default #or [#env JWT_EXPIRATION_TIME 3600]}
  :jwt-expiration-leeway #profile
                          {:test 1
                           :default #or [#env JWT_EXPIRATION_LEEWAY 1]}
  :http-host #or [#env HTTP_HOST "0.0.0.0"]
  :http-port #or [#env HTTP_PORT 8080]}}
