{:admin-user-default      #or [#env LRSQL_ADMIN_USER_DEFAULT nil]
 :admin-pass-default      #or [#env LRSQL_ADMIN_PASS_DEFAULT nil]
 :api-key-default         #or [#env LRSQL_API_KEY_DEFAULT nil]
 :api-secret-default      #or [#env LRSQL_API_SECRET_DEFAULT nil]
 :stmt-get-default        #long #or [#env LRSQL_STMT_GET_DEFAULT 50]
 :stmt-get-max            #long #or [#env LRSQL_STMT_GET_MAX 50]
 :stmt-get-max-csv        #long #or [#env LRSQL_STMT_GET_MAX_CSV -1]
 :stmt-url-prefix         "/xapi" ; overriden by ::webserver/url-prefix
 :authority-template      #or [#env LRSQL_AUTHORITY_TEMPLATE "config/authority.json.template"]
 :authority-url           #or [#env LRSQL_AUTHORITY_URL "http://example.org"]
 :oidc-authority-template #or [#env LRSQL_OIDC_AUTHORITY_TEMPLATE "config/oidc_authority.json.template"]
 :oidc-scope-prefix       #or [#env LRSQL_OIDC_SCOPE_PREFIX ""]
 :stmt-retry-limit        #or [#env LRSQL_STMT_RETRY_LIMIT 10]
 :stmt-retry-budget       #or [#env LRSQL_STMT_RETRY_BUDGET 1000]
 :enable-reactions        #boolean #or [#env LRSQL_ENABLE_REACTIONS false]
 :reaction-buffer-size    #long #or [#env LRSQL_REACTION_BUFFER_SIZE 10000]
 :reaction-version        #or [#env LRSQL_REACTION_VERSION "1.0.3"]
 :supported-versions      #or [#env LRSQL_SUPPORTED_VERSIONS "1.0.3,2.0.0"]
 :enable-strict-version   #boolean #or [#env LRSQL_ENABLE_STRICT_VERSION false]}
