name: CI

on: push

jobs:
  lint:
    uses: yetanalytics/workflow-linter/.github/workflows/linter.yml@v2024.08.01
    with:
      lint-directories: "src/bench src/build src/db src/main src/test"

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - test-sqlite
          - test-postgres-11
          - test-postgres-12
          - test-postgres-13
          - test-postgres-14
          - test-postgres-15
          - test-postgres-16
          - test-mariadb

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup CI Environment
        uses: yetanalytics/action-setup-env@v2

      - name: Run Makefile Target ${{ matrix.target }}
        run: make ${{ matrix.target }}
