name: CI

on: push

jobs:
  lint:
    uses: yetanalytics/workflow-linter/.github/workflows/linter.yml@v2024.08.01
    with:
      lint-directories: "src/bench src/build src/db src/main src/test"

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - test-sqlite
          - test-postgres-13
          - test-postgres-14
          - test-postgres-15
          - test-postgres-16
          - test-postgres-17
          - test-mariadb-10.6
          - test-mariadb-10.11
          - test-mariadb-11.4
          - test-mariadb-11.7.2
          - test-mariadb-11.8
          - test-mysql-8.0.44
          - test-mysql-8.4
          - test-mysql-9.5.0
          
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup CI Environment
        uses: yetanalytics/action-setup-env@v2

      - name: Run Makefile Target ${{ matrix.target }}
        run: make ${{ matrix.target }}
