{:pool-auto-commit        true
 :pool-keepalive-time    0
 :pool-connection-timeout 30000
 :pool-idle-timeout       600000
 :pool-validation-timeout 5000
 :pool-init-fail-timeout  1
 :pool-max-lifetime       1800000
 :pool-min-idle           10
 :pool-max-size           10
 :pool-name               nil}
