{:admin-user-default      "username"
 :admin-pass-default      "password"
 :api-key-default         "username"
 :api-secret-default      "password"
 :stmt-get-default        50
 :stmt-get-max            50
 :stmt-get-max-csv        nil
 :stmt-url-prefix         "/xapi"
 :authority-template      "config/authority.json.template"
 :authority-url           "http://example.org"
 :oidc-authority-template "config/oidc_authority.json.template"
 :oidc-scope-prefix       ""
 :stmt-retry-limit        20
 :stmt-retry-budget       10000
 :enable-reactions        true
 :reaction-buffer-size    10000
 :reaction-version        "1.0.3"
 :supported-versions      "1.0.3,2.0.0"
 :enable-strict-version   false}
