{:api-key-default      "username"
 :api-secret-default   "password"
 :stmt-get-default     50
 :stmt-get-max         50
 :stmt-url-prefix      "/xapi"
 :authority-template   "config/authority.json.template"
 :authority-url        "http://localhost"}
