{:key-file                  "config/keystore.jks"
 :key-alias                 "lrsql_keystore"
 :key-password              "lrsql_pass"
 :key-enable-selfie         true
 :jwt-exp-time              3600
 :jwt-exp-leeway            1
 :jwt-refresh-exp-time      86400
 :jwt-no-val                false
 :jwt-no-val-uname          nil
 :jwt-no-val-issuer         nil
 :jwt-no-val-role-key       nil
 :jwt-no-val-role           nil
 :jwt-no-val-logout-url     nil
 :jwt-common-secret         nil
 :enable-http               true
 :enable-http2              true
 :ssl-port                  8443
 :http-host                 "0.0.0.0"
 :http-port                 8080
 :allow-all-origins         false
 :allowed-origins           ["http://localhost:8080"
                             ;; Allow access from admin-ui dev
                             "http://localhost:9500"]
 :url-prefix                "/xapi"
 :proxy-path                nil
 :enable-admin-delete-actor true
 :enable-admin-ui           true
 :enable-admin-status       true
 :admin-language            "en-US"
 :enable-stmt-html          true
 :oidc-verify-remote-issuer true
 :oidc-client-template      "config/oidc_client.json.template"
 :oidc-enable-local-admin   false
 :enable-clamav             false
 :clamav-host               "localhost"
 :clamav-port               3310}
